#calculator__container {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1.5%;
  margin: 1% auto;
}

#result__wrapper {
  width: auto;
  height: 100px;
  border: 4px double rgb(114, 114, 114);
  margin-bottom: 2.5%;
  position: relative;
  padding: 3%;
}
#result {
  max-width: 280px;
  font-size: 28px;
  word-wrap: break-word;
  position: absolute;
  bottom: 0;
  right: 0;
}
.calculate {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
  height: 365px;
}
input {
  font-size: 18px;
}
